*{
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
   font-family: Arial, "Times New Roman", serif;
}

.header {
  background-color: white;
  color: #b4b7ba;
  padding: 15px;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: white;
  color: #8879ad;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.aside {
  background-color: white;
  padding: 15px;
  color: black;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.right ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.right li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: white;
  color: #8879ad;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

/* For desktop: */

.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
