body {margin: 0;}


.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a:hover {
  background: #ddd;
  color: black;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


.topnav li::after {
  content: "";
  clear: both;
  display: block;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.topleft {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}

.content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.content {
  background-color: ;
  opacity: 0.3;
  padding: 10px;
  height: 200px; 
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 50px;
}


html {
  font-family: "Lucida Sans", sans-serif;
}

.footer {
  background-color: #f1f1f1;
  padding: 10px;
}


ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}